<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome to your CD collection</title>
  </head>
  <body>
    <h1>CD List</h1>

    <form action="/cds" method="post">
      <label for="title">Add CD title</label>
      <input id="title" name="title" type="text">
      <label for="artist">Add artist</label>
      <input id="artist" name="artist" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
